In [1]:
import pandas as pd
import numpy as nm
import requests
import json
import mysql
import re
from bs4 import BeautifulSoup

In [2]:
#Constants

start_page = 1
end_page = 10 # For 1000 rows select 11 and for 9943 select 101
imdb_movie_ids_filename = "imdb_movie_ids.txt"
omdb_api_key = '461a254e'

In [3]:
def get_title_id_from_div(div):
    title_id = ""
    try:
        href = div.find_all('a', href=True)[0]['href']
        title_id = href.split('/')[2]
    except:
        print("Raised exception" + str(div))

    return title_id


# Getting list of IMDB Titles and saving in the file
for page_no in range(start_page, end_page):
    print(page_no)
    response = requests.get(url="https://www.imdb.com/list/ls057823854/?page=" + str(page_no))
    soup = BeautifulSoup(response.text, 'html.parser')
    div_header = soup.select('h3.lister-item-header')

    if page_no == start_page:
        with open(imdb_movie_ids_filename, "w+") as file:
            for title in div_header:
                title_id = get_title_id_from_div(title)
                file.write(title_id + "\n")
    else:
        with open(imdb_movie_ids_filename, "a+") as file:
            for title in div_header:
                title_id = get_title_id_from_div(title)
                file.write(title_id + "\n")

1
2
3
4
5
6
7
8
9

In [4]:
# Getting Movie Details from the API calls

def convert_to_int(value):
    result = 0
    if value is not None and len(value.strip()) > 0:
        result = re.sub('\D', '', value)
        if len(result) == 0:
            result = 0
    
    return int(result)
   

def get_movie_details(movie_id):
    movie_details ={}
    try:
        response = requests.get("http://www.omdbapi.com/?apikey=" + omdb_api_key + "&i=" + str(movie_id.strip()))
        result = json.loads(response.text)
        movie_details['imdbRating'] = result['imdbRating']
        movie_details['Director'] = result['Director']
        movie_details['Actors'] = result['Actors']
        movie_details['Awards'] = result['Awards']
        movie_details['Genre'] = result['Genre']
        movie_details['Released'] = result['Released']
        movie_details['movie_id'] = movie_id.strip()
        # Add code to find other field values
        
        
        web_scrapping_headers = {'user-agent': 'Mozilla/5.0'}
        web_scrapping_response = requests.get("https://www.imdb.com/title/" + str(movie_id.strip()), web_scrapping_headers)
        soup = BeautifulSoup(web_scrapping_response.content, 'html.parser')

        
 
        #reviews - users and critic
        user_review = 0
        critic_review = 0
        reviews_divs =  soup.findAll("div",{"class":"titleReviewBarItem"})              
        if reviews_divs and len(reviews_divs) >= 2:
            reviews = reviews_divs[1].findAll('a')
        
            if reviews and len(reviews) >= 2:
                user_review = convert_to_int(reviews[0].text.split(" ")[0])
                critic_review = convert_to_int(reviews[1].text.split(" ")[0])

        
        #Popularity
        popularity = ""
        try:
            popularity_divs = soup.findAll("div",{"class":"titleReviewBarSubItem"})
            if popularity_divs and len(popularity_divs) >=3:
                popularity = popularity_divs[2].findAll("span",{"class":"subText"})[0].text
                match = re.search(r'[0-9].*',popularity)
                popularity = convert_to_int(popularity[match.start():match.end()])
        except:
            pass
            
        
        #Budget, Opening weekend USA Sales, Cumulative Worldwide Gross Sales, Gross USA Sales

        divTag = soup.find_all("div", {"id": "titleDetails"})
        budget, weekend_US_sales, gross_US_sales,worldwide_gross_sales  = 0, 0, 0 , 0
        
        
        for tag in divTag:
            divTags = tag.find_all("div", {"class": "txt-block"})
            for tag in (divTags):

                if "Budget:" in tag.text:
                    budget = convert_to_int(re.findall(r'\$[0-9,]*',tag.text)[0])
                if "Opening Weekend USA:" in tag.text:
                    weekend_US_sales = convert_to_int(re.findall(r'\$[0-9,]*',tag.text)[0])
                if "Gross USA:" in tag.text:
                    gross_US_sales = convert_to_int(re.findall(r'\$[0-9,]*',tag.text)[0])
                if "Cumulative Worldwide Gross:" in tag.text:
                    worldwide_gross_sales = convert_to_int(re.findall(r'\$[0-9,]*',tag.text)[0])
            
        movie_details['user_review'] = user_review
        movie_details['critic_review'] = critic_review
        movie_details['popularity'] = popularity
        movie_details['budget'] = budget
        movie_details['weekend_US_sales'] = weekend_US_sales
        movie_details['gross_US_sales'] = gross_US_sales
        movie_details['worldwide_gross_sales'] = worldwide_gross_sales
        return movie_details
    except Exception as e:
        print("Exception in making API calls " + str(movie_id))
        print(e)
        return None

In [5]:
result = []
count = 1
#Reading Files
with open(imdb_movie_ids_filename, "r") as file:
    #Reading the file
    for movie_id in file.readlines():
        print(count)
        count += 1
        if movie_id is None or movie_id.strip() == "":
            continue
        movie_details = get_movie_details(movie_id)
        if movie_details:
            result.append(movie_details)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
Exception in making API calls tt1034314

list index out of range
154
155
156
Exception in making API calls tt2099556

list index out of range
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
Exception in making API calls tt0110413

list index out of range
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
Exception in making API calls tt0208092

list index out of range
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
Exception in making API calls tt0365748

list index out of range
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
Exception in making API calls tt0926084

list index out of range
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
Exception in making API calls tt1340800

list index out of range
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
Exception in making API calls tt1658837

list index out of range
358
359
360
Exception in making API calls tt1687901

list index out of range
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
Exception in making API calls tt0425112

list index out of range
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
Exception in making API calls tt1645155

list index out of range
516
517
518
519
520
521
Exception in making API calls tt1748179

list index out of range
522
523
524
525
526
527
528
529
Exception in making API calls tt0448134

list index out of range
530
531
532
533
534
Exception in making API calls tt0120735

list index out of range
535
536
537
538
539
540
541
Exception in making API calls tt0071853

list index out of range
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
Exception in making API calls tt1430626

HTTPSConnectionPool(host='www.imdb.com', port=443): Max retries exceeded with url: /title/tt1430626?user-agent=Mozilla%2F5.0 (Caused by SSLError(SSLError('bad handshake: ZeroReturnError()')))
667
668
669
670
Exception in making API calls tt2023690

list index out of range
671
672
673
674
675
676
677
678
679
680
Exception in making API calls tt0857190

list index out of range
681
682
683
684
685
686
687
688
Exception in making API calls tt1440345

list index out of range
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
Exception in making API calls tt1716772

list index out of range
837
838
839
840
Exception in making API calls tt1456941

list index out of range
841
842
843
844
845
846
847
848
849
850
851
Exception in making API calls tt0375912

list index out of range
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900

In [6]:
#Creating the dataframe
df = pd.DataFrame(result)
print(df)

                                                Actors  \
0    Tim Roth, Amanda Plummer, Laura Lovelace, John...
1    Andrew Garfield, Emma Stone, Jamie Foxx, Dane ...
2    Tim Robbins, Morgan Freeman, Bob Gunton, Willi...
3    Mark Hamill, Harrison Ford, Carrie Fisher, Pet...
4    Michael J. Fox, Christopher Lloyd, Lea Thompso...
5    Emilio Estevez, Paul Gleason, Anthony Michael ...
6    Sean Astin, Josh Brolin, Jeff Cohen, Corey Fel...
7    Jodie Foster, Lawrence A. Bonney, Kasi Lemmons...
8    Sam Neill, Laura Dern, Jeff Goldblum, Richard ...
9    Rowan Atkinson, Matthew Broderick, Niketa Cala...
10   Morgan Freeman, Andrew Kevin Walker, Daniel Za...
11       Tom Hanks, Tim Allen, Don Rickles, Jim Varney
12   Jeff Bridges, John Goodman, Julianne Moore, St...
13   Tom Hanks, Tom Sizemore, Edward Burns, Barry P...
14   Edward Norton, Brad Pitt, Meat Loaf, Zach Grenier
15   Keanu Reeves, Laurence Fishburne, Carrie-Anne ...
16   Liam Neeson, Ewan McGregor, Natalie Portman, J...
17   Russell Crowe, Joaquin Phoenix, Connie Nielsen...
18   Hugh Jackman, Patrick Stewart, Ian McKellen, F...
19   Richard Harris, Maggie Smith, Robbie Coltrane,...
20   Alan Howard, Noel Appleby, Sean Astin, Sala Baker
21   Bruce Allpress, Sean Astin, John Bach, Sala Baker
22   Vin Diesel, Asia Argento, Marton Csokas, Samue...
23   Albert Brooks, Ellen DeGeneres, Alexander Goul...
24    Noel Appleby, Ali Astin, Sean Astin, David Aston
25   Will Ferrell, Christina Applegate, Paul Rudd, ...
26   Lindsay Lohan, Rachel McAdams, Tina Fey, Tim M...
27   Jessica Alba, Devon Aoki, Alexis Bledel, Power...
28   Ewan McGregor, Natalie Portman, Hayden Christe...
29   Christian Bale, Michael Caine, Liam Neeson, Ka...
..                                                 ...
848  Sean Connery, Alec Baldwin, Scott Glenn, Sam N...
849  Arnold Schwarzenegger, Penelope Ann Miller, Pa...
850  Dan Aykroyd, Jamie Lee Curtis, Macaulay Culkin...
851  Sigourney Weaver, Charles S. Dutton, Charles D...
852  Michael Keaton, Danny DeVito, Michelle Pfeiffe...
853  Robert De Niro, Chazz Palminteri, Lillo Branca...
854  Al Pacino, Sean Penn, Penelope Ann Miller, Joh...
855  Harrison Ford, Tommy Lee Jones, Sela Ward, Jul...
856  Jim Carrey, Peter Riegert, Peter Greene, Amy Y...
857  Keanu Reeves, Dennis Hopper, Sandra Bullock, J...
858  Kurt Russell, James Spader, Jaye Davidson, Viv...
859  Adam Sandler, Darren McGavin, Bridgette Wilson...
860  Val Kilmer, Tommy Lee Jones, Jim Carrey, Nicol...
861  Christopher Lambert, Robin Shou, Linden Ashby,...
862    Helen Hunt, Bill Paxton, Cary Elwes, Jami Gertz
863  Michael Jordan, Wayne Knight, Theresa Randle, ...
864  Sigourney Weaver, Winona Ryder, Dominique Pino...
865  Meg Ryan, John Cusack, Kelsey Grammer, Christo...
866  Arnold Schwarzenegger, George Clooney, Chris O...
867  Lindsay Lohan, Dennis Quaid, Natasha Richardso...
868  Vince Vaughn, Anne Heche, Julianne Moore, Vigg...
869  Robert De Niro, Jean Reno, Natascha McElhone, ...
870  Mike Myers, Heather Graham, Michael York, Robe...
871  Bud Cort, Barret Hackney, Jared Pfennigwerth, ...
872  Liam Neeson, Catherine Zeta-Jones, Owen Wilson...
873  Johnny Depp, Frank Langella, Lena Olin, Emmanu...
874  Leonardo DiCaprio, Daniel York, Patcharawan Pa...
875  Devon Sawa, Ali Larter, Kerr Smith, Kristen Cloke
876  Kirsten Dunst, Eliza Dushku, Jesse Bradford, G...
877  Cameron Diaz, Drew Barrymore, Lucy Liu, Bill M...

                                                Awards  \
0       Won 1 Oscar. Another 68 wins & 74 nominations.
1                             4 wins & 30 nominations.
2    Nominated for 7 Oscars. Another 21 wins & 35 n...
3      Won 6 Oscars. Another 52 wins & 28 nominations.
4       Won 1 Oscar. Another 19 wins & 25 nominations.
5                                              3 wins.
6                              3 wins & 6 nominations.
7      Won 5 Oscars. Another 63 wins & 51 nominations.
8      Won 3 Oscars. Another 39 wins & 26 nominations.
9      Won 2 Oscars. Another 35 wins & 34 nominations.
10   Nominated for 1 Oscar. Another 29 wins & 40 no...
11   Nominated for 3 Oscars. Another 27 wins & 20 n...
12                            5 wins & 17 nominations.
13     Won 5 Oscars. Another 74 wins & 74 nominations.
14   Nominated for 1 Oscar. Another 10 wins & 37 no...
15     Won 4 Oscars. Another 37 wins & 50 nominations.
16   Nominated for 3 Oscars. Another 27 wins & 65 n...
17    Won 5 Oscars. Another 54 wins & 104 nominations.
18                           13 wins & 26 nominations.
19   Nominated for 3 Oscars. Another 17 wins & 65 n...
20   Won 4 Oscars. Another 115 wins & 124 nominations.
21   Won 2 Oscars. Another 123 wins & 137 nominations.
22                            4 wins & 14 nominations.
23      Won 1 Oscar. Another 49 wins & 62 nominations.
24   Won 11 Oscars. Another 199 wins & 122 nominati...
25                             1 win & 13 nominations.
26                            7 wins & 25 nominations.
27                           34 wins & 52 nominations.
28   Nominated for 1 Oscar. Another 27 wins & 61 no...
29   Nominated for 1 Oscar. Another 14 wins & 72 no...
..                                                 ...
848       Won 1 Oscar. Another 2 wins & 8 nominations.
849                             4 wins & 1 nomination.
850                            2 wins & 5 nominations.
851  Nominated for 1 Oscar. Another 5 wins & 23 nom...
852  Nominated for 2 Oscars. Another 2 wins & 27 no...
853                             1 win & 3 nominations.
854  Nominated for 2 Golden Globes. Another 2 wins ...
855     Won 1 Oscar. Another 12 wins & 37 nominations.
856  Nominated for 1 Oscar. Another 6 wins & 20 nom...
857    Won 2 Oscars. Another 17 wins & 20 nominations.
858                            6 wins & 6 nominations.
859                                      1 nomination.
860  Nominated for 3 Oscars. Another 10 wins & 22 n...
861                             1 win & 3 nominations.
862  Nominated for 2 Oscars. Another 11 wins & 15 n...
863                            5 wins & 7 nominations.
864                           6 wins & 19 nominations.
865  Nominated for 2 Oscars. Another 10 wins & 21 n...
866                          10 wins & 22 nominations.
867                            2 wins & 7 nominations.
868                            4 wins & 5 nominations.
869                             1 win & 4 nominations.
870  Nominated for 1 Oscar. Another 18 wins & 30 no...
871                                     8 nominations.
872                           3 wins & 14 nominations.
873                             1 win & 4 nominations.
874                                     7 nominations.
875                            3 wins & 3 nominations.
876                            2 wins & 7 nominations.
877                          15 wins & 30 nominations.

                                              Director  \
0                                    Quentin Tarantino
1                                            Marc Webb
2                                       Frank Darabont
3                                         George Lucas
4                                      Robert Zemeckis
5                                          John Hughes
6                                       Richard Donner
7                                       Jonathan Demme
8                                     Steven Spielberg
9                            Roger Allers, Rob Minkoff
10                                       David Fincher
11                                       John Lasseter
12                               Joel Coen, Ethan Coen
13                                    Steven Spielberg
14                                       David Fincher
15                     Lana Wachowski, Lilly Wachowski
16                                        George Lucas
17                                        Ridley Scott
18                                        Bryan Singer
19                                      Chris Columbus
20                                       Peter Jackson
21                                       Peter Jackson
22                                           Rob Cohen
23            Andrew Stanton, Lee Unkrich(co-director)
24                                       Peter Jackson
25                                          Adam McKay
26                                         Mark Waters
27   Frank Miller, Robert Rodriguez, Quentin Tarantino
28                                        George Lucas
29                                   Christopher Nolan
..                                                 ...
848                                     John McTiernan
849                                       Ivan Reitman
850                                       Howard Zieff
851                                      David Fincher
852                                         Tim Burton
853                                     Robert De Niro
854                                     Brian De Palma
855                                       Andrew Davis
856                                      Chuck Russell
857                                        Jan de Bont
858                                    Roland Emmerich
859                                        Tamra Davis
860                                    Joel Schumacher
861                                 Paul W.S. Anderson
862                                        Jan de Bont
863                                          Joe Pytka
864                                 Jean-Pierre Jeunet
865                            Don Bluth, Gary Goldman
866                                    Joel Schumacher
867                                       Nancy Meyers
868                                       Gus Van Sant
869                                 John Frankenheimer
870                                          Jay Roach
871                                        Kevin Smith
872                                        Jan de Bont
873                                     Roman Polanski
874                                        Danny Boyle
875                                         James Wong
876                                        Peyton Reed
877                                                McG

                                                 Genre     Released  \
0                                         Crime, Drama  14 Oct 1994
1                            Action, Adventure, Sci-Fi  02 May 2014
2                                                Drama  14 Oct 1994
3                   Action, Adventure, Fantasy, Sci-Fi  25 May 1977
4                            Adventure, Comedy, Sci-Fi  03 Jul 1985
5                                        Comedy, Drama  15 Feb 1985
6                            Adventure, Comedy, Family  07 Jun 1985
7                               Crime, Drama, Thriller  14 Feb 1991
8                  Action, Adventure, Sci-Fi, Thriller  11 Jun 1993
9         Animation, Adventure, Drama, Family, Musical  24 Jun 1994
10                     Crime, Drama, Mystery, Thriller  22 Sep 1995
11       Animation, Adventure, Comedy, Family, Fantasy  22 Nov 1995
12                                Comedy, Crime, Sport  06 Mar 1998
13                                          Drama, War  24 Jul 1998
14                                               Drama  15 Oct 1999
15                                      Action, Sci-Fi  31 Mar 1999
16                  Action, Adventure, Fantasy, Sci-Fi  19 May 1999
17                            Action, Adventure, Drama  05 May 2000
18                           Action, Adventure, Sci-Fi  14 Jul 2000
19                          Adventure, Family, Fantasy  16 Nov 2001
20                           Adventure, Drama, Fantasy  19 Dec 2001
21                           Adventure, Drama, Fantasy  18 Dec 2002
22                         Action, Adventure, Thriller  09 Aug 2002
23                Animation, Adventure, Comedy, Family  30 May 2003
24                           Adventure, Drama, Fantasy  17 Dec 2003
25                                              Comedy  09 Jul 2004
26                                              Comedy  30 Apr 2004
27                                     Crime, Thriller  01 Apr 2005
28                  Action, Adventure, Fantasy, Sci-Fi  19 May 2005
29                Action, Adventure, Fantasy, Thriller  15 Jun 2005
..                                                 ...          ...
848                        Action, Adventure, Thriller  02 Mar 1990
849                                      Comedy, Crime  21 Dec 1990
850                     Comedy, Drama, Family, Romance  27 Nov 1991
851                             Action, Horror, Sci-Fi  22 May 1992
852                             Action, Crime, Fantasy  19 Jun 1992
853                              Crime, Drama, Romance  01 Oct 1993
854                             Crime, Drama, Thriller  12 Nov 1993
855            Action, Crime, Drama, Mystery, Thriller  06 Aug 1993
856                     Action, Comedy, Crime, Fantasy  29 Jul 1994
857                        Action, Adventure, Thriller  10 Jun 1994
858                          Action, Adventure, Sci-Fi  28 Oct 1994
859                                             Comedy  10 Feb 1995
860                         Action, Adventure, Fantasy  16 Jun 1995
861       Action, Adventure, Fantasy, Sci-Fi, Thriller  18 Aug 1995
862                        Action, Adventure, Thriller  10 May 1996
863  Animation, Adventure, Comedy, Family, Fantasy,...  15 Nov 1996
864                             Action, Horror, Sci-Fi  26 Nov 1997
865  Animation, Adventure, Drama, Family, Fantasy, ...  21 Nov 1997
866                                     Action, Sci-Fi  20 Jun 1997
867          Adventure, Comedy, Drama, Family, Romance  29 Jul 1998
868                          Horror, Mystery, Thriller  04 Dec 1998
869                            Action, Crime, Thriller  25 Sep 1998
870                   Action, Adventure, Comedy, Crime  11 Jun 1999
871                  Adventure, Comedy, Drama, Fantasy  12 Nov 1999
872                 Fantasy, Horror, Mystery, Thriller  23 Jul 1999
873                                  Mystery, Thriller  10 Mar 2000
874                Adventure, Drama, Romance, Thriller  11 Feb 2000
875                                   Horror, Thriller  17 Mar 2000
876                             Comedy, Romance, Sport  25 Aug 2000
877         Action, Adventure, Comedy, Crime, Thriller  03 Nov 2000

        budget  critic_review  gross_US_sales imdbRating   movie_id  \
0      8000000            282       107928762        8.9  tt0110912
1    200000000            536       202853933        6.6  tt1872181
2     25000000            224        28699976        9.3  tt0111161
3     11000000            181       460998507        8.6  tt0076759
4     19000000            235       211159762        8.5  tt0088763
5      1000000            151        45875171        7.9  tt0088847
6     19000000            116        62367596        7.8  tt0089218
7     19000000            213       130742922        8.6  tt0102926
8     63000000            355       402828120        8.1  tt0107290
9     45000000            227       422783777        8.5  tt0110357
10    33000000            220       100125643        8.6  tt0114369
11    30000000            196       222498679        8.3  tt0114709
12    15000000            189        18034458        8.1  tt0118715
13    70000000            265       217049603        8.6  tt0120815
14    63000000            369        37030102        8.8  tt0137523
15    63000000            341       171479930        8.7  tt0133093
16   115000000            351       474544677        6.5  tt0120915
17   103000000            252       187705427        8.5  tt0172495
18    75000000            308       157299718        7.4  tt0120903
19   125000000            267       318087620        7.6  tt0241527
20    93000000            332       315544750        8.8  tt0120737
21    94000000            319       342551365        8.7  tt0167261
22    70000000            190       142109382        5.9  tt0295701
23    94000000            145       380843261        8.1  tt0266543
24    94000000            348       377845905        8.9  tt0167260
25    26000000            166        85288303        7.2  tt0357413
26    17000000            129        86058055        7.0  tt0377092
27    40000000            384        74103820        8.0  tt0401792
28   113000000            385       380270577        7.5  tt0121766
29   150000000            316       206852432        8.2  tt0372784
..         ...            ...             ...        ...        ...
848   30000000            125       122012643        7.6  tt0099810
849   15000000             56        91457688        6.1  tt0099938
850   17000000             40        59489799        6.9  tt0102492
851   50000000            261        55473545        6.5  tt0103644
852   80000000            192       162902340        7.0  tt0103776
853   22000000             56        17287898        7.8  tt0106489
854   30000000            113        36948322        7.9  tt0106519
855   44000000            127       183875760        7.8  tt0106977
856   23000000             71       119938730        6.9  tt0110475
857   30000000            127       121248145        7.2  tt0111257
858   55000000            102        71567262        7.1  tt0111282
859   10000000             50        25588734        6.4  tt0112508
860  100000000            179       184069126        5.4  tt0112462
861   18000000             88        70454098        5.8  tt0113855
862   92000000            127       241721524        6.4  tt0117998
863   80000000             65        90418342        6.4  tt0117705
864   75000000            247        47795658        6.2  tt0118583
865   50000000             66        58406347        7.1  tt0118617
866  125000000            213       107353792        3.7  tt0118688
867          0             59        66308518        6.5  tt0120783
868   60000000            130        21485655        4.6  tt0155975
869   55000000            175        41616262        7.3  tt0122690
870   33000000            179       206040086        6.6  tt0145660
871   10000000            191        30652890        7.3  tt0120655
872   80000000            172        91411151        5.0  tt0171363
873   38000000            167        18661336        6.7  tt0142688
874   50000000            110        39785027        6.7  tt0163978
875   23000000            154        53331147        6.7  tt0195714
876   11000000            122        68379000        6.0  tt0204946
877   93000000            193       125305545        5.5  tt0160127

    popularity  user_review  weekend_US_sales  worldwide_gross_sales
0          130         2839           9311882              214179088
1         1552         1162          91608337              708982323
2           66         7361            727327               28786657
3          369         1765           1554475              775512064
4          117         1078          11152500              388355305
5          435          837           5107599               51525171
6          267          475           9105913               62613569
7          252         1179          13766814              272753884
8          246         1075          47026828             1032020521
9          329          927           1586753              968511805
10         222         1336          13949807              327333559
11         445          556          29140617              404265438
12         324         1175           5533844               46735469
13         175         2497          30576104              482349603
14         159         3566          11035485              101187503
15         154         4129          27788331              465343787
16         391         3795          64820970             1027082707
17         226         2572          34819017              460583960

In [7]:
df.to_csv("movieData_1_10.csv")

In [48]:
import pymongo

In [49]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["imdb"]
mycol = mydb["movies"] #create collection electronics

In [50]:
mycol.insert_many(result)

In [8]:
df.head(10)

,Actors,Awards,Director,Genre,Released,budget,critic_review,gross_US_sales,imdbRating,movie_id,popularity,user_review,weekend_US_sales,worldwide_gross_sales
0,"Tim Roth, Amanda Plummer, Laura Lovelace, John...",Won 1 Oscar. Another 68 wins & 74 nominations.,Quentin Tarantino,"Crime, Drama",14 Oct 1994,8000000,282,107928762,8.9,tt0110912,130,2839,9311882,214179088
1,"Andrew Garfield, Emma Stone, Jamie Foxx, Dane ...",4 wins & 30 nominations.,Marc Webb,"Action, Adventure, Sci-Fi",02 May 2014,200000000,536,202853933,6.6,tt1872181,1552,1162,91608337,708982323
2,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Nominated for 7 Oscars. Another 21 wins & 35 n...,Frank Darabont,Drama,14 Oct 1994,25000000,224,28699976,9.3,tt0111161,66,7361,727327,28786657
3,"Mark Hamill, Harrison Ford, Carrie Fisher, Pet...",Won 6 Oscars. Another 52 wins & 28 nominations.,George Lucas,"Action, Adventure, Fantasy, Sci-Fi",25 May 1977,11000000,181,460998507,8.6,tt0076759,369,1765,1554475,775512064
4,"Michael J. Fox, Christopher Lloyd, Lea Thompso...",Won 1 Oscar. Another 19 wins & 25 nominations.,Robert Zemeckis,"Adventure, Comedy, Sci-Fi",03 Jul 1985,19000000,235,211159762,8.5,tt0088763,117,1078,11152500,388355305
5,"Emilio Estevez, Paul Gleason, Anthony Michael ...",3 wins.,John Hughes,"Comedy, Drama",15 Feb 1985,1000000,151,45875171,7.9,tt0088847,435,837,5107599,51525171
6,"Sean Astin, Josh Brolin, Jeff Cohen, Corey Fel...",3 wins & 6 nominations.,Richard Donner,"Adventure, Comedy, Family",07 Jun 1985,19000000,116,62367596,7.8,tt0089218,267,475,9105913,62613569
7,"Jodie Foster, Lawrence A. Bonney, Kasi Lemmons...",Won 5 Oscars. Another 63 wins & 51 nominations.,Jonathan Demme,"Crime, Drama, Thriller",14 Feb 1991,19000000,213,130742922,8.6,tt0102926,252,1179,13766814,272753884
8,"Sam Neill, Laura Dern, Jeff Goldblum, Richard ...",Won 3 Oscars. Another 39 wins & 26 nominations.,Steven Spielberg,"Action, Adventure, Sci-Fi, Thriller",11 Jun 1993,63000000,355,402828120,8.1,tt0107290,246,1075,47026828,1032020521
9,"Rowan Atkinson, Matthew Broderick, Niketa Cala...",Won 2 Oscars. Another 35 wins & 34 nominations.,"Roger Allers, Rob Minkoff","Animation, Adventure, Drama, Family, Musical",24 Jun 1994,45000000,227,422783777,8.5,tt0110357,329,927,1586753,968511805

# ML

In [145]:
df1 = df.copy()
Actors = df1['Actors'].str.split(",", n = 3, expand = True)
Actors.columns = ['Actor_1', 'Actor_2', 'Actor_3', 'Actor_4']
director = df1['Director'].str.split(",", n = 1, expand = True)
genre = df1['Genre'].str.split(",", n = 1, expand = True)

NameError: name 'pd' is not defined